@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --primary-blue: hsl(223, 87%, 63%);
    --secondary-blue: hsl(223, 100%, 88%);
    --secondary-red: hsl(354, 100%, 66%);
    --neutral-gray: hsl(0, 0%, 59%);
    --neutral-grayish-blue: hsl(209, 33%, 12%);
    font-size: 20px;
    font-family: 'Libre Franklin', sans-serif;
}

main {
    width: 100vw;
    max-height: fit-content;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
}

.logo {
    text-align: center;
    margin-bottom: 4rem;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.content__title {
    color: var(--neutral-grayish-blue);
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
}

.content__title span {
    font-weight: 300;
    color: var(--neutral-gray);
}

.content__text {
    font-size: 1.2rem;
    font-weight: 300;
    text-align: center;
}

form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.form__input {
    width: 100%;
    padding: 1rem;
    border: 1px solid var(--secondary-blue);
    border-radius: 25px;
    font-size: 1rem;
    font-weight: 300;
    outline: none;
}

.form__input::placeholder {
    font-size: 0.9rem;
    color: var(--neutral-gray);
}

.btn {
    width: 100%;
    background-color: var(--primary-blue);
    color: white;
    font-size: 1em;
    font-weight: 300;
    padding: 1rem;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--secondary-blue);
    color: var(--neutral-grayish-blue);
}

.container__image {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2.5rem;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.social-links a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    color: var(--primary-blue);
    font-size: 1.5rem;
    text-decoration: none;
    border: 1px solid var(--secondary-blue);
    border-radius: 100%;
}

.social-links a:hover {
    background-color: var(--primary-blue);
    border: 1px solid var(--primary-blue);
    color: white;
}

footer p {
    color: var(--neutral-gray);
    font-size: 1rem;
}

.invalid {
    border: 1px solid var(--secondary-red);
}

.invalid-text {
    color: var(--secondary-red);
    font-size: 0.8rem;
    font-weight: 300;
    margin-top: 0.5rem;
    text-align: center;
}

.valid-text {
    color: var(--primary-blue);
    font-size: 0.8rem;
    font-weight: 300;
    margin-top: 0.5rem;
    text-align: center;
}

@media screen and (min-width: 900px) {

    .container {
        padding: 4rem 4rem;
    }

    form {
        flex-direction: row;
        width: 50%;
    }
    .form__input {
        width: 70%;
    } 
    .btn {
        width: 30%;
        font-size: 1rem;
    }

    .container__image {
        width: 50%;
        align-self: center;
    }
}